
@model  PagedList.IPagedList<Model.Framework.User>
@using PagedList.Mvc




@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="card">
    <div class="card-header">
        <div>
            <a href="@Url.Action("ExportExcel", "ThongKeTaiKhoan")">
                <i class="fa fa-file-excel fa-2x" style="color: green; margin-left: 32px;"> Excel</i>
            </a>

            <a href="@Url.Action("ExportPDF", "ThongKeTaiKhoan")">
                <i class="fa-solid fa-file-pdf fa-2x" style="color: #FF1B0E; margin-left: 32px;"> PDF</i>
            </a>

            <a href="@Url.Action("ExportWord", "ThongKeTaiKhoan",  FormMethod.Post)">
            <i class="fa-solid fa-file-word fa-2x" style="color: #146ebe; margin-left: 32px;"> Word</i>
            <input type="hidden" name="GridHtml" />
            <input type="submit" id="btnSubmit" value="Export" />
        </a>

       

        </div>

        <div class="card-header-center" style=" margin-top: -34px;">
            @using (Html.BeginForm("Index", "ThongKeTaiKhoan", FormMethod.Get, new { @style = "display: flex;" }))
            {
                <input type="text" value="@ViewBag.SearchString" name="searchString" style="margin-left: 527px; width: 272px; height: 30px" />
                <button type="submit" style="margin-left: 26px;border-radius: 15px;background-color: black;color: white;width: 98px;height: 34px; margin-top: -2px">Tìm kiếm</button>
            }
        </div>

        <div class="card-header-right">    <ul class="list-unstyled card-option">        <li><i class="icofont icofont-simple-left "></i></li>        <li><i class="icofont icofont-maximize full-card"></i></li>        <li><i class="icofont icofont-minus minimize-card"></i></li>        <li><i class="icofont icofont-refresh reload-card"></i></li> </ul></div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <div id="Grid">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Name</th>
                            <th>UserName</th>
                            <th>Mobile</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Postcode</th>
                            <th>Avatar</th>
                            <th>CreateDate</th>
                            @*<th>ChucNang</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.UserId">
                                <th scope="row">@item.UserId</th>
                                <td>@item.Name</td>
                                <td>@item.UserName</td>
                                <td>@item.Mobile</td>
                                <td>@item.Email</td>
                                <td>@item.Address</td>
                                <td>@item.PostCode</td>
                                <td>@item.ImageUrl</td>
                                <td>@item.CreatedDate</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div />
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
</div>
    </div>
<script src="~/Scripts/jquery.unobtrusive-ajax.js">
    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='GridHtml']").val($("#Grid").html());
    });
    });
</script>


<div style="
    margin-left: 20px;
">
    @Html.ActionLink("Back to List", "Index")
</div>