@model Model.Framework.Order

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic Form Inputs card start -->
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <h4 class="sub-title">Cập nhật đơn hàng</h4>
                    @using (Html.BeginForm("Edit", "QuanLyDonHang", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.HiddenFor(model => model.OrderDetailsId)
                    <h4>Order</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group row">
                        @Html.LabelFor(model => model.OrderNo, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.OrderNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.OrderNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group row">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Update" class="btn btn-default" style="margin-left: 600px;" />
                        </div>
                    </div>
                </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<div style="
    margin-left: 20px;
">
    @Html.ActionLink("Back to List", "Index")
</div>
