@model  PagedList.IPagedList<Model.Framework.Order>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h3 style="
    margin: 34px;
    font-weight: bold;
    text-align: center;
">
    Quản lý đơn hàng
</h3>
<div class="card">
    <div class="card-header">
        @*<a href="@Url.Action("Create", "QuanLyDonHang")">
            <i class="fa fa-user-plus fa-3x" style="color:#2F4AD3; margin-left: 5px"></i>
        </a>*@
        <a href="@Url.Action("Create", "QuanLyDonHang")">
            <i class="fa fa-user-plus fa-3x" style="color:#2F4AD3; margin-left: 5px"></i>
        </a>
        <div class="card-header-center" style=" margin-top: -34px;">
            @using (Html.BeginForm("Index", "QuanLyDonHang", FormMethod.Get, new { @style = "display: flex;" }))
            {
                <input type="text" value="@ViewBag.SearchString" name="searchString" style="margin-left: 527px; width: 272px; height: 30px" />
                <button type="submit" style="margin-left: 26px;border-radius: 15px;background-color: black;color: white;width: 98px;height: 34px; margin-top: -2px">Tim kiem</button>
            }
        </div>
        <div class="card-header-right">    <ul class="list-unstyled card-option">        <li><i class="icofont icofont-simple-left "></i></li>        <li><i class="icofont icofont-maximize full-card"></i></li>        <li><i class="icofont icofont-minus minimize-card"></i></li>        <li><i class="icofont icofont-refresh reload-card"></i></li> </ul></div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>OrderNo</th>
                        <th>Quantity</th>
                        <th>Status</th>
                        @*<th>ChucNang</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.OrderDetailsId</th>
                            <td>@item.OrderNo</td>
                            <td>@item.Quantity</td>
                            <td>@item.Status</td>
                            @*<td><a href="/QuanLyTaiKhoan/Edit/@item.OrderDetailsId">Sua</a></td>*@
                            <td><a href="/QuanLyTaiKhoan/Edit/@item.OrderDetailsId"><i class="fa fa-pencil" style="color: forestgreen"></i></a></td>
                            <td><a href="/QuanLyTaiKhoan/Edit/@item.OrderDetailsId"><i class="fa fa-trash" style="color: #D6271B"></i></a></td>
                            <td><a href="/QuanLyTaiKhoan/Edit/@item.OrderDetailsId"><i class="fa fa-eye" style="color: #8E44AD"></i></a></td>
                        </tr>
                    }


                </tbody>
            </table>
            @*@Html.PageListPage(Model, page => Url.Action("Index", new { page}))*@
        </div>
    </div>
</div>


<div style="
    margin-left: 20px;
">
    @Html.ActionLink("Back to List", "Index")
</div>