
@model  PagedList.IPagedList<Model.Framework.Payment>
@using PagedList.Mvc




@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="card">
    <div class="card-header">
        <div style="display: flex">


            @using (Html.BeginForm("ExportPDF", "ThongKeThanhToan", FormMethod.Post, new { @style = "margin-left: 16px", }))
            {
                <i class="fa-solid fa-file-pdf fa-2x" style="color: #FF1B0E">
                </i>
                <input type="hidden" name="GridHtml" />
                <input type="submit" id="btnSubmit" value="ExportPDF" />
            }

            @using (Html.BeginForm("ExportWord", "ThongKeThanhToan", FormMethod.Post, new { @style = "margin-left: 16px", }))
            {
                <i class="fa-solid fa-file-word fa-2x" style="color: #146ebe; margin-left: 32px;"></i>
                <input type="hidden" name="GridHtml" />
                <input type="submit" id="btnSubmit" value="ExportWord" />
            }

            @using (Html.BeginForm("ExportExcel", "ThongKeThanhToan", FormMethod.Post, new { @style = "margin-left: 16px", }))
            {
                <i class="fa fa-file-excel fa-2x" style="color: green; margin-left: 32px;"></i>
                <input type="hidden" name="GridHtml" />
                <input type="submit" id="btnSubmit" value="ExportExcel" />
            }

        </div>

        <div class="card-header-center" style=" margin-top: -34px;">
            @using (Html.BeginForm("Index", "ThongKeThanhToan", FormMethod.Get, new { @style = "display: flex;" }))
            {
                <input type="text" value="@ViewBag.SearchString" name="searchString" style="margin-left: 527px; width: 272px; height: 30px" />
                <button type="submit" style="margin-left: 26px;border-radius: 15px;background-color: black;color: white;width: 98px;height: 34px; margin-top: -2px">Tìm kiếm</button>
            }
        </div>

        <div class="card-header-right">    <ul class="list-unstyled card-option">        <li><i class="icofont icofont-simple-left "></i></li>        <li><i class="icofont icofont-maximize full-card"></i></li>        <li><i class="icofont icofont-minus minimize-card"></i></li>        <li><i class="icofont icofont-refresh reload-card"></i></li> </ul></div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <div id="Grid" cellpadding="0" cellspacing="0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Name</th>
                            <th>CardNo</th>
                            <th>ExpiryDate</th>
                            <th>CvvNo</th>
                            <th>Address</th>
                            <th>PaymentMode</th>
                            @*<th>ChucNang</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.PaymentId">
                                <th scope="row">@item.PaymentId</th>
                                <td>@item.Name</td>
                                <td>@item.CardNo</td>
                                <td>@item.ExpiryDate</td>
                                <td>@item.CvvNo</td>
                                <td>@item.Address</td>
                                <td>@item.PaymentMode</td>

                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    </div>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='GridHtml']").val($("#Grid").html());
        });
    });
    </script>

    <div style="
    margin-left: 20px;
">
        @Html.ActionLink("Back to List", "Index")
    </div>
