@{ Layout = null; } @model WebFood.Areas.Admin.Models.LoginModel

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="CodedThemes" />
    <meta name="keywords"
          content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app" />
    <meta name="author" content="CodedThemes" />
    <!-- Favicon icon -->
    <link rel="icon"
          href="/Assets/Admin/images/favicon.ico"
          type="image/x-icon" />
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800"
          rel="stylesheet" />
    <!-- Required Fremwork -->
    <link rel="stylesheet"
          type="text/css"
          href="/Assets/Admin/css/bootstrap/css/bootstrap.min.css" />
    <!-- themify-icons line icon -->
    <link rel="stylesheet"
          type="text/css"
          href="/Assets/Admin/icon/themify-icons/themify-icons.css" />
    <!-- ico font -->
    <link rel="stylesheet"
          type="text/css"
          href="/Assets/Admin/icon/icofont/css/icofont.css" />
    <!-- Style.css -->
    <link rel="stylesheet"
          type="text/css"
          href="/Assets/Admin/css/style.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
</head>

<body>
    <style>
        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }

        .h-custom {
            height: calc(100% - 73px);
        }
    </style>
    <section class="vh-100" style="margin-top: 120px">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid"
                         alt="Sample image" />
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    @using (Html.BeginForm("Index", "DangNhap",
                           FormMethod.Post))
                    {@Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, null, new
               {
                   @class
                             = "alert alert-danger"
               })
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3">
                            Register in with
                        </p>
                        <button type="button"
                                class="btn btn-primary btn-floating mx-1">
                            <i class="fa-brands fa-facebook"></i>
                        </button>

                        <button type="button"
                                class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-google"></i>
                        </button>

                        <button type="button"
                                class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-linkedin-in"></i>
                        </button>
                    </div>

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">Or</p>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        @Html.TextBoxFor(model =>
                             model.UserName, new
                                  {
                                      @class =
                             "form-control form-control-lg",
                                      @placeholder =
                             "Username",
                                      @autofocus = "autofocus"
                                  })
                        @Html.Label("User address", new { @class = "form-label" })

                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">

                        @Html.PasswordFor(model =>
                        model.Password, new
                             {
                                 @class =
                        "form-control form-control-lg",
                                 @placeholder =
                        "Password",
                                 @autofocus = "autofocus"
                             })
                        @Html.Label("Password", new { @class = "form-label" })
                       
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2"
                                   type="checkbox"
                                   value=""
                                   id="form2Example3"
                                   style="margin-left: -2px" />
                            <label class="form-check-label"
                                   for="form2Example3">
                                Remember me
                            </label>
                        </div>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit"
                                class="btn btn-primary btn-lg btn btn-default"
                                style="
                                        width: 149px;
                                        height: 53px;
                                        border-radius: 32px;
                                    ">
                            Register
                        </button>
                    </div>
                }
                </div>
            </div>
        </div>
    </section>
</body>
</html>

